{% extends "layout.html" %}

{% block title %}PiTP{% endblock %}

<!-- Header -->
{% block header2 %}

<br><br><br><br>
<div class="ocustom-bigheader">PiTP Lectures</div>
<br>

{% endblock %}

<!-- Content -->
{% block content %}

<!-- START THE FEATURETTES -->

<div class="row featurette">
  <div class="col-md-12">
    <h3 class="bs-docs-featurette-title ocustom-droidsans"><b>(1)</b> Tumor evolution: finding the order of mutations in cancer from genomic data</h3>

    <br>

    <p class="lead">
     Papers
    </p>

	<ul>
	<li>
	<div>
	<strong>Mutational heterogeneity in cancer and the search for new cancer-associated genes</strong>
	<br>
	Michael S. Lawrence, Petar Stojanov et al.
	<br>
	<a href="https://www.nature.com/articles/nature12213">Nature. 2013 Jul 11; 499(7457): 214–218.</a>
	</div>
	</li>
	<li>
	<div>
	<strong>Clonal evolution of glioblastoma under therapy</strong>
	<br>
	Jiguang Wang et al.
	<br>
	<a href="https://www.nature.com/articles/ng.3590">Nature Genetics volume 48, pages 768–776 (2016).</a>
	</div>
	</li>
	</ul>


    <p class="lead">
     Datasets
    </p>


  </div>
</div>

<div class="row featurette">
  <div class="col-md-12">
    <h3 class="bs-docs-featurette-title ocustom-droidsans"><b>(2)</b> Archeology of human cancers: mutational signatures</h3>

    <br>

    <p class="lead">
     Papers
    </p>

	<ul>
	<li>
	<div>
	<strong>Signatures of mutational processes in human cancer</strong>
	<br>
	Ludmil B Alexandrov et al.
	<br>
	<a href="https://www.nature.com/articles/nature12477">Nature volume 500, pages 415–421 (22 August 2013).</a>
	</div>
	</li>
	<li>
	<div>
	<strong>The Repertoire of Mutational Signatures in Human Cancer</strong>
	<br>
	Ludmil B Alexandrov et al.
	<br>
	<a href="https://www.biorxiv.org/content/10.1101/322859v1">doi: https://doi.org/10.1101/322859.</a>
	</div>
	</li>
	<li>
	<div>
	<strong>Characterizing Mutational Signatures in Human Cancer Cell Lines Reveals Episodic APOBEC Mutagenesis</strong>
	<br>
	Petljak M et al.
	<br>
	<a href="https://www.cell.com/cell/pdf/S0092-8674(19)30161-8.pdf">Cell, 2019; 176 (6): 1282.</a>
	</div>
	</li>
	<li>
	<div>
	<strong>Landscape of somatic mutations in 560 breast cancer whole-genome sequences</strong>
	<br>
	Serena Nik-Zainal et al.
	<br>
	<a href="https://www.nature.com/articles/nature17676">Nature. 2016 May 2; 534(7605): 47–54.</a>
	</div>
	</li>
	<li>
	<div>
	<strong>Passenger hotspot mutations in cancer driven by APOBEC3A and mesoscale genomic features</strong>
	<br>
	Rémi Buisson et al.
	<br>
	<a href="https://science.sciencemag.org/content/364/6447/eaaw2872.editor-summary">Science  28 Jun 2019: Vol. 364, Issue 6447, eaaw2872 doi: 10.1126/science.aaw2872.</a>
	</div>
	</li>
	</ul>

    <p class="lead">
     Datasets
    </p>


  </div>
</div>

<div class="row featurette">
  <div class="col-md-12">
    <h3 class="bs-docs-featurette-title ocustom-droidsans"><b>(3)</b> Studying cancer and stromal heterogeneity using single cell data</h3>

    <br>

    <p class="lead">
     Papers
    </p>

	<ul>
	<li>
	<div>
	<strong>Single-cell topological RNA-seq analysis reveals insights into cellular differentiation and development</strong>
	<br>
	Abbas H Rizvi et al.
	<br>
	<a href="https://www.nature.com/articles/nbt.385://www.nature.com/articles/nbt.3854">Nat Biotechnol. 2017 Jun; 35(6): 551–560.</a>
	</div>
	</li>
	<li>
	<div>
	<strong>Quasi-universality in single-cell sequencing data</strong>
	<br>
	Luis Aparicio et al.
	<br>
	<a href="https://arxiv.org/abs/1810.03602">arXiv preprint arXiv:1810.03602 (2018).</a>
	</div>
	</li>
	</ul>

    <p class="lead">
     Tools
    </p>

	<ul>
	<li>
	<div>
	<strong>Randomly</strong> ( <a href="https://rabadan.c2b2.columbia.edu/html/randomly/">background</a>
	| 
	<a href="https://rabadan.c2b2.columbia.edu/html/randomly/tutorial.html">manual</a>
	|
	<a href="https://github.com/RabadanLab/randomly">Github</a> ) 
	</div>
	</li>
	</ul>


    <p class="lead">
     Datasets
    </p>


  </div>
</div>

{% endblock %}
